# Firebase Configuration (undhi-lms / site: quizin)
VITE_FIREBASE_API_KEY=AIzaSyBTPfi5xyWgaFuE4C4PNmFOXLYIzCRxBmk
VITE_FIREBASE_AUTH_DOMAIN=undhi-lms.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=undhi-lms
VITE_FIREBASE_STORAGE_BUCKET=undhi-lms.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=53086687466
VITE_FIREBASE_APP_ID=1:53086687466:web:0adc4b5733297d26054793
VITE_FIREBASE_MEASUREMENT_ID=G-Z8E4P623JX
